APP_NAME=FashionStore API
APP_ENV=development
APP_DEBUG=true

DATABASE_URL=postgresql+psycopg://postgres.zyitwlxfkphthlvlmuej:%23Fashion96455@aws-0-us-east-2.pooler.supabase.com:5432/postgres

SECRET_KEY=Hermes21
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60